# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
coverage

# production
build
es
lib

# misc
.DS_Store
.env
npm-debug.log
npm-debug.log.*
yarn-error.log
